
@{
    ViewBag.Title = "parametros";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>parametros</h2>

    <ul>
        <li> @Html.ActionLink("Departamentos", "Index", "departamentoes")</li>
        <li>@Html.ActionLink("Usuarios", "Index", "usuarios")</li>
    </ul>

</body>
</html>
   