
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutOperator.cshtml";
}


<div class="jumbotron">
    <h1>Integrantes: </h1>
    
    <p> Alondra Ramirez A00102586</p>
    <p> Arnett Jimenez  A00106020</p>
    <p> Brian Tifa      A00106324</p>
    
</div>

<div class="row">
    <h3>Vista Oficial</h3>
</div>